.App {
  text-align: center;
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333333;
}

.App-header {
  background-color: #ffffff;
  padding: 20px;
  color: #333333;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}